<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsters's Madness Gym</title>
    style 
        include ./style.css 
</head>
<body>
    <div class="title">
    <span>MONSTERS'S MADNESS FITNESS</span>
    <a href="/form" target="_blank"><button class="btn">Join The Pack</button></a>
    </div>
    <nav class="nav">
        <img src="../static/dumbell.svg" alt="Monster">
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>
                <label for="services"></label>
                <select name="services" id="services">
                <option value="services">Services</option>
                <option value="wt">Weight Training</option>
                <option value="cals">Calisthenics</option>
                <option value="cross">Crossfit</option>
                <option value="yoga">Yoga</option>
            </select></li>
            <li>Contact Us</li>
            <li>Pricing</li>
        </ul>
    </nav>
    <div class="container">
        <div class="box">
            <img src="../static/calisthenics.avif" alt="Calisthenics">
            <h2>Calisthenics</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia, animi sit ut non et. Harum alias obcaecati officiis itaque omnis nobis repellat repellendus praesentium officia deleniti quaerat impedit maxime neque aliquam, dolore ratione deserunt placeat. Saepe inventore optio at error! Nihil iure dolor voluptas? Iure hic laudantium obcaecati iusto.</p>
        </div>
        <div class="box">
            <img src="../static/crossfit.avif" alt="Crossfit">
            <h2>Crossfit</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia, animi sit ut non et. Harum alias obcaecati officiis itaque omnis nobis repellat repellendus praesentium officia deleniti quaerat impedit maxime neque aliquam, dolore ratione deserunt placeat. Saepe inventore optio at error! Nihil iure dolor voluptas? Iure hic laudantium obcaecati iusto.</p>
        </div>
        <div class="box">
            <img src="../static/weights.avif" alt="Weight Training">
            <h2>Weight Training</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia, animi sit ut non et. Harum alias obcaecati officiis itaque omnis nobis repellat repellendus praesentium officia deleniti quaerat impedit maxime neque aliquam, dolore ratione deserunt placeat. Saepe inventore optio at error! Nihil iure dolor voluptas? Iure hic laudantium obcaecati iusto.</p>
        </div>
        <div class="box">
            <img src="../static/yoga.avif" alt="Yoga">
            <h2>Yoga</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quia, animi sit ut non et. Harum alias obcaecati officiis itaque omnis nobis repellat repellendus praesentium officia deleniti quaerat impedit maxime neque aliquam, dolore ratione deserunt placeat. Saepe inventore optio at error! Nihil iure dolor voluptas? Iure hic laudantium obcaecati iusto.</p>
        </div>
    </div>
</body>
</html>