*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: greenyellow;
    font-weight: 700;
}
nav{
    display: flex;
    padding: 1em;
    box-shadow: 0 0 20px 2px black;
    position: relative;
}
nav>img:first-child{
    width: max(120px,20%); /* aspect-ratio: initial; */
}
nav>ul>li{
    list-style: none;
    padding: 0 15%;
    white-space: nowrap;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: max(1rem,1.5vw);
    transition: color 200ms linear;
}
nav > ul{
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-weight: 600;
}
nav>ul>li:hover{
    border-bottom: 2px solid black;
}
.mode__logo{
    position: absolute;
    inset: 0.5em 0.5em auto auto;
    width: max(50px,3%);
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5em;
}
.container > textarea{
    font-size: max(1.6vw,1rem);
    font-family: sans-serif;
    padding: 0.5em;
    width: 80%;
    margin: 1em auto;
}
.btns{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}
.btn{
    width: fit-content;
    padding: 0.8em;
    margin: 1em 1em;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 700;
    transition: scale 200ms linear;
}
.btn:hover{
    scale: 1.1;
    box-shadow: 4px 2px 10px;
}
.dark{
    background-color: rgba(0, 0, 0, 0.856) !important;
    color: white !important;
}
.dark li:hover{
    border-bottom: 2px solid white;
}
.mode__logo_sun{
    position: absolute;
    width: max(5%,60px);
    aspect-ratio: 1/1;
    top: 0rem;
    right: 0.5em;
    cursor: pointer;
    filter: invert(1);
}